<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRnvPlanLabel" jhiTranslate="dcaguiApp.rnvPlan.home.createOrEditLabel">Create or edit a Rnv Plan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rnvPlan.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rnvPlan.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.rnvPlan.planLabel" for="field_planLabel">Plan Label</label>
            <input type="text" class="form-control" name="planLabel" id="field_planLabel"
                [(ngModel)]="rnvPlan.planLabel"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.rnvPlan.planSopInstanceUid" for="field_planSopInstanceUid">Plan Sop Instance Uid</label>
            <input type="text" class="form-control" name="planSopInstanceUid" id="field_planSopInstanceUid"
                [(ngModel)]="rnvPlan.planSopInstanceUid"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.rnvPlan.studyInstanceUid" for="field_studyInstanceUid">Study Instance Uid</label>
            <input type="text" class="form-control" name="studyInstanceUid" id="field_studyInstanceUid"
                [(ngModel)]="rnvPlan.studyInstanceUid"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.rnvPlan.dateCreated" for="field_dateCreated">Date Created</label>
            <div class="input-group">
                <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker  #dateCreatedDp="ngbDatepicker" [(ngModel)]="rnvPlan.dateCreated"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateCreatedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="dcaguiApp.rnvPlan.patient" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="rnvPlan.patient" >
                <option [ngValue]="null"></option>
                <option [ngValue]="patientOption.id === rnvPlan.patient?.id ? rnvPlan.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.patientUid}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="dcaguiApp.rnvPlan.dicaRegistrations" for="field_dicaRegistrations">Dica Registrations</label>
            <select class="form-control" id="field_dicaRegistrations" multiple name="dicaRegistrations" [(ngModel)]="rnvPlan.dicaRegistrations">
                <option [ngValue]="getSelected(rnvPlan.dicaRegistrations, dicaRegistrationEntityOption)" *ngFor="let dicaRegistrationEntityOption of dicaregistrationentities; trackBy: trackDicaRegistrationEntityById">{{dicaRegistrationEntityOption.dicaRegistration}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
