
<div *ngIf="rnvPlan">
    <h2><span jhiTranslate="dcaguiApp.rnvPlan.detail.title">Rnv Plan</span> {{rnvPlan.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.planLabel">Plan Label</span></dt>
        <dd>
            <span>{{rnvPlan.planLabel}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.planSopInstanceUid">Plan Sop Instance Uid</span></dt>
        <dd>
            <span>{{rnvPlan.planSopInstanceUid}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.studyInstanceUid">Study Instance Uid</span></dt>
        <dd>
            <span>{{rnvPlan.studyInstanceUid}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.dateCreated">Date Created</span></dt>
        <dd>
            <span>{{rnvPlan.dateCreated | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.patient">Patient</span></dt>
        <dd>
            <div *ngIf="rnvPlan.patient">
                <a [routerLink]="['/patient', rnvPlan.patient?.id]">{{rnvPlan.patient?.patientUid}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.rnvPlan.dicaRegistrations">Dica Registrations</span></dt>
        <dd>
            <span *ngFor="let dicaRegistrations of rnvPlan.dicaRegistrations; let last = last">
                <a [routerLink]="['/dica-registration-entity', dicaRegistrations?.id ]">{{dicaRegistrations.dicaRegistration}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rnv-plan/'+ rnvPlan.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
