<div>
    <h2>
    	<div class="btn-group flex-btn-group-container">
    	<button class="btn btn-primary create-rnv-plan" [routerLink]="['/', { outlets: { popup: ['rnv-plan-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.rnvPlan.home.createLabel">
            Create new Rnv Plan
            </span>
        </button>
        <button class="btn btn-warning fhir-rnv-plans" [routerLink]="['/', { outlets: { popup: ['rnv-plan-fhir-all'] } }]">
            <span class="fa fa-fire"></span>
            <span  jhiTranslate="dcaguiApp.rnvPlan.home.fhirLabel">
            Fhir all Rnv Plans
            </span>
        </button>
        </div>        
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <label class="btn float-xs-right">
        <input type="checkbox" name="uncoupled"  [(ngModel)]="uncoupled" data-md-icheck (change)="loadAll()">
        Uncoupled Only
    </label>
    <div class="table-responsive" *ngIf="rnvPlans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="planLabel"><span jhiTranslate="dcaguiApp.rnvPlan.planLabel">Plan Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="planSopInstanceUid"><span jhiTranslate="dcaguiApp.rnvPlan.planSopInstanceUid">Plan Sop Instance Uid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="studyInstanceUid"><span jhiTranslate="dcaguiApp.rnvPlan.studyInstanceUid">Study Instance Uid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="dcaguiApp.rnvPlan.dateCreated">Date Created</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patient.id"><span jhiTranslate="dcaguiApp.rnvPlan.patient">Patient</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rnvPlan of rnvPlans ;trackBy: trackId">
                <td><a [routerLink]="['../rnv-plan', rnvPlan.id ]">{{rnvPlan.id}}</a></td>
                <td>{{rnvPlan.planLabel}}</td>
                <td>{{rnvPlan.planSopInstanceUid}}</td>
                <td>{{rnvPlan.studyInstanceUid}}</td>
                <td>{{rnvPlan.dateCreated | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="rnvPlan.patient">
                        <a [routerLink]="['../patient', rnvPlan.patient?.id ]" >{{rnvPlan.patient?.patientUid}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rnv-plan', rnvPlan.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rnv-plan/'+ rnvPlan.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rnv-plan/'+ rnvPlan.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rnv-plan/'+ rnvPlan.id + '/fhir'} }]"
                                replaceUrl="true"
                                class="btn btn-warning btn-sm">
                            <span class="fa fa-fire"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.fhir">Fhir</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="rnvPlans && rnvPlans.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
