<form name="fhirForm" (ngSubmit)="confirmFhir(rnvPlan.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="dcaguiApp.rnvPlan.fhir.title">Confirm fhir operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="dcaguiApp.rnvPlan.fhir.question" translateValues="{id: '{{rnvPlan.planLabel}}'}">Are you sure you want to fhir this Rnv Plan?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-warning">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.fhir">Fhir</span>
        </button>
    </div>
</form>
