
<div *ngIf="patientObservation">
    <h2><span jhiTranslate="dcaguiApp.patientObservation.detail.title">Patient Observation</span> {{patientObservation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.patientObservation.observationIdentifier">Observation Identifier</span></dt>
        <dd>
            <span>{{patientObservation.observationIdentifier}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patientObservation.observationValue">Observation Value</span></dt>
        <dd>
            <span>{{patientObservation.observationValue}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patientObservation.observationDate">Observation Date</span></dt>
        <dd>
            <span>{{patientObservation.observationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patientObservation.patient">Patient</span></dt>
        <dd>
            <div *ngIf="patientObservation.patient">
                <a [routerLink]="['/patient', patientObservation.patient?.id]">{{patientObservation.patient?.patientUid}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient-observation/'+ patientObservation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
