<div>
    <h2>
        <span jhiTranslate="dcaguiApp.patientObservation.home.title">Patient Observations</span>
        <button class="btn btn-primary float-right create-patient-observation" [routerLink]="['/', { outlets: { popup: ['patient-observation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.patientObservation.home.createLabel">
            Create new Patient Observation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="patientObservations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationIdentifier"><span jhiTranslate="dcaguiApp.patientObservation.observationIdentifier">Observation Identifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationValue"><span jhiTranslate="dcaguiApp.patientObservation.observationValue">Observation Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationDate"><span jhiTranslate="dcaguiApp.patientObservation.observationDate">Observation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patient.id"><span jhiTranslate="dcaguiApp.patientObservation.patient">Patient</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patientObservation of patientObservations ;trackBy: trackId">
                <td><a [routerLink]="['../patient-observation', patientObservation.id ]">{{patientObservation.id}}</a></td>
                <td>{{patientObservation.observationIdentifier}}</td>
                <td>{{patientObservation.observationValue}}</td>
                <td>{{patientObservation.observationDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="patientObservation.patient">
                        <a [routerLink]="['../patient', patientObservation.patient?.id ]" >{{patientObservation.patient?.patientUid}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient-observation', patientObservation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient-observation/'+ patientObservation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient-observation/'+ patientObservation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="patientObservations && patientObservations.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
