<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPatientObservationLabel" jhiTranslate="dcaguiApp.patientObservation.home.createOrEditLabel">Create or edit a Patient Observation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!patientObservation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="patientObservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patientObservation.observationIdentifier" for="field_observationIdentifier">Observation Identifier</label>
            <input type="text" class="form-control" name="observationIdentifier" id="field_observationIdentifier"
                [(ngModel)]="patientObservation.observationIdentifier"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patientObservation.observationValue" for="field_observationValue">Observation Value</label>
            <input type="text" class="form-control" name="observationValue" id="field_observationValue"
                [(ngModel)]="patientObservation.observationValue"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patientObservation.observationDate" for="field_observationDate">Observation Date</label>
            <div class="d-flex">
                <input id="field_observationDate" type="datetime-local" class="form-control" name="observationDate" [(ngModel)]="patientObservation.observationDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="dcaguiApp.patientObservation.patient" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="patientObservation.patient" >
                <option [ngValue]="null"></option>
                <option [ngValue]="patientOption.id === patientObservation.patient?.id ? patientObservation.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.patientUid}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
