<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFhirTransactionLogLabel" jhiTranslate="dcaguiApp.fhirTransactionLog.home.createOrEditLabel">Create or edit a Fhir Transaction Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fhirTransactionLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fhirTransactionLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="fhirTransactionLog.date"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="fhirTransactionLog.status" id="field_status" >
                <option value="SUCCESS" jhiTranslate="dcaguiApp.TransactionStatus.SUCCESS">SUCCESS</option>
                <option value="FAILED" jhiTranslate="dcaguiApp.TransactionStatus.FAILED">FAILED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.planUid" for="field_planUid">Plan Uid</label>
            <input type="text" class="form-control" name="planUid" id="field_planUid"
                [(ngModel)]="fhirTransactionLog.planUid"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.outgoingBundle" for="field_outgoingBundle">Outgoing Bundle</label>
            <textarea class="form-control" name="outgoingBundle" id="field_outgoingBundle"
                [(ngModel)]="fhirTransactionLog.outgoingBundle"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.reponseBundle" for="field_reponseBundle">Reponse Bundle</label>
            <textarea class="form-control" name="reponseBundle" id="field_reponseBundle"
                [(ngModel)]="fhirTransactionLog.reponseBundle"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.fhirTransactionLog.errorMessage" for="field_errorMessage">Error Message</label>
            <input type="text" class="form-control" name="errorMessage" id="field_errorMessage"
                [(ngModel)]="fhirTransactionLog.errorMessage"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
