
<div *ngIf="fhirTransactionLog">
    <h2><span jhiTranslate="dcaguiApp.fhirTransactionLog.detail.title">Fhir Transaction Log</span> {{fhirTransactionLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.date">Date</span></dt>
        <dd>
            <span>{{fhirTransactionLog.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'dcaguiApp.TransactionStatus.' + fhirTransactionLog.status}}">{{fhirTransactionLog.status}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.planUid">Plan Uid</span></dt>
        <dd>
            <span>{{fhirTransactionLog.planUid}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.outgoingBundle">Outgoing Bundle</span></dt>
        <dd>
            <textarea rows="15" cols="100" readonly="true" class="boxsizingBorder">{{fhirTransactionLog.outgoingBundle}}</textarea>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.reponseBundle">Reponse Bundle</span></dt>
        <dd>
            <textarea rows="15" cols="100" readonly="true" class="boxsizingBorder">{{fhirTransactionLog.reponseBundle}}</textarea>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.fhirTransactionLog.errorMessage">Error Message</span></dt>
        <dd>
            <span>{{fhirTransactionLog.errorMessage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fhir-transaction-log/'+ fhirTransactionLog.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
