<div>
    <h2>
        <span jhiTranslate="dcaguiApp.fhirTransactionLog.home.title">Fhir Transaction Logs</span>
        <button class="btn btn-primary float-right create-fhir-transaction-log" [routerLink]="['/', { outlets: { popup: ['fhir-transaction-log-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.fhirTransactionLog.home.createLabel">
            Create new Fhir Transaction Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fhirTransactionLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="dcaguiApp.fhirTransactionLog.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="dcaguiApp.fhirTransactionLog.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="planUid"><span jhiTranslate="dcaguiApp.fhirTransactionLog.planUid">Plan Uid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="errorMessage"><span jhiTranslate="dcaguiApp.fhirTransactionLog.errorMessage">Error Message</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fhirTransactionLog of fhirTransactionLogs ;trackBy: trackId">
                <td><a [routerLink]="['../fhir-transaction-log', fhirTransactionLog.id ]">{{fhirTransactionLog.id}}</a></td>
                <td>{{fhirTransactionLog.date | date:'medium'}}</td>
                <td jhiTranslate="{{'dcaguiApp.TransactionStatus.' + fhirTransactionLog.status}}">{{fhirTransactionLog.status}}</td>
                <td>{{fhirTransactionLog.planUid}}</td>
                <td>{{fhirTransactionLog.errorMessage}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fhir-transaction-log', fhirTransactionLog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fhir-transaction-log/'+ fhirTransactionLog.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fhir-transaction-log/'+ fhirTransactionLog.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="fhirTransactionLogs && fhirTransactionLogs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
