<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPatientLabel" jhiTranslate="dcaguiApp.patient.home.createOrEditLabel">Create or edit a Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!patient.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="patient.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.patientUid" for="field_patientUid">Patient Uid</label>
            <input type="text" class="form-control" name="patientUid" id="field_patientUid"
                [(ngModel)]="patient.patientUid"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.bsn" for="field_bsn">Bsn</label>
            <input type="text" class="form-control" name="bsn" id="field_bsn"
                [(ngModel)]="patient.bsn"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.nameInitials" for="field_nameInitials">Name Initials</label>
            <input type="text" class="form-control" name="nameInitials" id="field_nameInitials"
                [(ngModel)]="patient.nameInitials"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.nameFamilyPrefix" for="field_nameFamilyPrefix">Name Family Prefix</label>
            <input type="text" class="form-control" name="nameFamilyPrefix" id="field_nameFamilyPrefix"
                [(ngModel)]="patient.nameFamilyPrefix"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.nameFamily" for="field_nameFamily">Name Family</label>
            <input type="text" class="form-control" name="nameFamily" id="field_nameFamily"
                [(ngModel)]="patient.nameFamily"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="patient.gender" id="field_gender" >
                <option value="MALE" jhiTranslate="dcaguiApp.Gender.MALE">MALE</option>
                <option value="FEMALE" jhiTranslate="dcaguiApp.Gender.FEMALE">FEMALE</option>
                <option value="OTHER" jhiTranslate="dcaguiApp.Gender.OTHER">OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.patient.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <div class="input-group">
                <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="patient.dateOfBirth"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateOfBirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
