
<div *ngIf="patient">
    <h2><span jhiTranslate="dcaguiApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.patient.patientUid">Patient Uid</span></dt>
        <dd>
            <span>{{patient.patientUid}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.bsn">Bsn</span></dt>
        <dd>
            <span>{{patient.bsn}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.nameInitials">Name Initials</span></dt>
        <dd>
            <span>{{patient.nameInitials}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.nameFamilyPrefix">Name Family Prefix</span></dt>
        <dd>
            <span>{{patient.nameFamilyPrefix}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.nameFamily">Name Family</span></dt>
        <dd>
            <span>{{patient.nameFamily}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'dcaguiApp.Gender.' + patient.gender}}">{{patient.gender}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.patient.dateOfBirth">Date Of Birth</span></dt>
        <dd>
            <span>{{patient.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
