<div>
    <h2>
        <span jhiTranslate="dcaguiApp.patient.home.title">Patients</span>
        <button class="btn btn-primary float-right create-patient" [routerLink]="['/', { outlets: { popup: ['patient-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.patient.home.createLabel">
            Create new Patient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="patients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patientUid"><span jhiTranslate="dcaguiApp.patient.patientUid">Patient Uid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bsn"><span jhiTranslate="dcaguiApp.patient.bsn">Bsn</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameInitials"><span jhiTranslate="dcaguiApp.patient.nameInitials">Name Initials</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameFamilyPrefix"><span jhiTranslate="dcaguiApp.patient.nameFamilyPrefix">Name Family Prefix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameFamily"><span jhiTranslate="dcaguiApp.patient.nameFamily">Name Family</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gender"><span jhiTranslate="dcaguiApp.patient.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOfBirth"><span jhiTranslate="dcaguiApp.patient.dateOfBirth">Date Of Birth</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td><a [routerLink]="['../patient', patient.id ]">{{patient.id}}</a></td>
                <td>{{patient.patientUid}}</td>
                <td>{{patient.bsn}}</td>
                <td>{{patient.nameInitials}}</td>
                <td>{{patient.nameFamilyPrefix}}</td>
                <td>{{patient.nameFamily}}</td>
                <td jhiTranslate="{{'dcaguiApp.Gender.' + patient.gender}}">{{patient.gender}}</td>
                <td>{{patient.dateOfBirth | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient', patient.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="patients && patients.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
