<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlanObservationLabel" jhiTranslate="dcaguiApp.planObservation.home.createOrEditLabel">Create or edit a Plan Observation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!planObservation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="planObservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.planObservation.observationIdentifier" for="field_observationIdentifier">Observation Identifier</label>
            <input type="text" class="form-control" name="observationIdentifier" id="field_observationIdentifier"
                [(ngModel)]="planObservation.observationIdentifier"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.planObservation.observationValue" for="field_observationValue">Observation Value</label>
            <input type="text" class="form-control" name="observationValue" id="field_observationValue"
                [(ngModel)]="planObservation.observationValue"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.planObservation.observationDate" for="field_observationDate">Observation Date</label>
            <div class="d-flex">
                <input id="field_observationDate" type="datetime-local" class="form-control" name="observationDate" [(ngModel)]="planObservation.observationDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="dcaguiApp.planObservation.rnvPlan" for="field_rnvPlan">Rnv Plan</label>
            <select class="form-control" id="field_rnvPlan" name="rnvPlan" [(ngModel)]="planObservation.rnvPlan" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rnvPlanOption.id === planObservation.rnvPlan?.id ? planObservation.rnvPlan : rnvPlanOption" *ngFor="let rnvPlanOption of rnvplans; trackBy: trackRnvPlanById">{{rnvPlanOption.planSopInstanceUid}} ({{rnvPlanOption.patient?.patientUid}} / {{rnvPlanOption.planLabel}})</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
