<div>
    <h2>
        <span jhiTranslate="dcaguiApp.planObservation.home.title">Plan Observations</span>
        <button class="btn btn-primary float-right create-plan-observation" [routerLink]="['/', { outlets: { popup: ['plan-observation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.planObservation.home.createLabel">
            Create new Plan Observation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planObservations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationIdentifier"><span jhiTranslate="dcaguiApp.planObservation.observationIdentifier">Observation Identifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationValue"><span jhiTranslate="dcaguiApp.planObservation.observationValue">Observation Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observationDate"><span jhiTranslate="dcaguiApp.planObservation.observationDate">Observation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rnvPlan.id"><span jhiTranslate="dcaguiApp.planObservation.rnvPlan">Rnv Plan</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planObservation of planObservations ;trackBy: trackId">
                <td><a [routerLink]="['../plan-observation', planObservation.id ]">{{planObservation.id}}</a></td>
                <td>{{planObservation.observationIdentifier}}</td>
                <td>{{planObservation.observationValue}}</td>
                <td>{{planObservation.observationDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="planObservation.rnvPlan">
                        <a [routerLink]="['../rnv-plan', planObservation.rnvPlan?.id ]" >{{planObservation.rnvPlan?.planSopInstanceUid}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../plan-observation', planObservation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-observation/'+ planObservation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-observation/'+ planObservation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="planObservations && planObservations.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
