
<div *ngIf="planObservation">
    <h2><span jhiTranslate="dcaguiApp.planObservation.detail.title">Plan Observation</span> {{planObservation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.planObservation.observationIdentifier">Observation Identifier</span></dt>
        <dd>
            <span>{{planObservation.observationIdentifier}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.planObservation.observationValue">Observation Value</span></dt>
        <dd>
            <span>{{planObservation.observationValue}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.planObservation.observationDate">Observation Date</span></dt>
        <dd>
            <span>{{planObservation.observationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dcaguiApp.planObservation.rnvPlan">Rnv Plan</span></dt>
        <dd>
            <div *ngIf="planObservation.rnvPlan">
                <a [routerLink]="['/rnv-plan', planObservation.rnvPlan?.id]">{{planObservation.rnvPlan?.planSopInstanceUid}} ({{planObservation.rnvPlan?.patient?.patientUid}} / {{planObservation.rnvPlan?.planLabel}})</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'plan-observation/'+ planObservation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
