
<div *ngIf="dicaRegistrationEntity">
    <h2><span jhiTranslate="dcaguiApp.dicaRegistrationEntity.detail.title">Dica Registration Entity</span> {{dicaRegistrationEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dcaguiApp.dicaRegistrationEntity.dicaRegistration">Dica Registration</span></dt>
        <dd>
            <span jhiTranslate="{{'dcaguiApp.DicaRegistration.' + dicaRegistrationEntity.dicaRegistration}}">{{dicaRegistrationEntity.dicaRegistration}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dica-registration-entity/'+ dicaRegistrationEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
