<div>
    <h2>
        <span jhiTranslate="dcaguiApp.dicaRegistrationEntity.home.title">Dica Registration Entities</span>
        <button class="btn btn-primary float-right create-dica-registration-entity" [routerLink]="['/', { outlets: { popup: ['dica-registration-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dcaguiApp.dicaRegistrationEntity.home.createLabel">
            Create new Dica Registration Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dicaRegistrationEntities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dicaRegistration"><span jhiTranslate="dcaguiApp.dicaRegistrationEntity.dicaRegistration">Dica Registration</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dicaRegistrationEntity of dicaRegistrationEntities ;trackBy: trackId">
                <td><a [routerLink]="['../dica-registration-entity', dicaRegistrationEntity.id ]">{{dicaRegistrationEntity.id}}</a></td>
                <td jhiTranslate="{{'dcaguiApp.DicaRegistration.' + dicaRegistrationEntity.dicaRegistration}}">{{dicaRegistrationEntity.dicaRegistration}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dica-registration-entity', dicaRegistrationEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dica-registration-entity/'+ dicaRegistrationEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dica-registration-entity/'+ dicaRegistrationEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="dicaRegistrationEntities && dicaRegistrationEntities.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
