<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDicaRegistrationEntityLabel" jhiTranslate="dcaguiApp.dicaRegistrationEntity.home.createOrEditLabel">Create or edit a Dica Registration Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dicaRegistrationEntity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dicaRegistrationEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dcaguiApp.dicaRegistrationEntity.dicaRegistration" for="field_dicaRegistration">Dica Registration</label>
            <select class="form-control" name="dicaRegistration" [(ngModel)]="dicaRegistrationEntity.dicaRegistration" id="field_dicaRegistration" >
                <option value="DLCA" jhiTranslate="dcaguiApp.DicaRegistration.DLCA">DLCA</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
